In [2]:
import pandas as pd
from scipy import stats
df = pd.read_excel('Book1.xlsx',sep=';')
data = {"stats": ['Min','Max','Mean','Standard Deviasi','Variasi','Skewnes','Quantile 1','Quantile 2',
                  'Quantile 3','Median','Modus']}
for i in df.columns:
    data[i] = [df[i].min(), df[i].max(), df[i].mean(), round(df[i].std(),2), round(df[i].var(),2),
               round(df[i].skew(),2), df[i].quantile(0.25),df[i].quantile(0.5),df[i].quantile(0.75), 
               df[i].median(), stats.mode(df[i]).mode[0]]
tes = pd.DataFrame(data)
tes.style.hide_index()